@model Control_Medico_NS.Models.Paciente

<h3>Paciente</h3>

<div>
    <dl>
        <dt>
            @Html.DisplayName("Nombre")
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.PubStrNombre)
        </dd>
        <dt>
            @Html.DisplayName("Seguro social")
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.PubStrSeguro)
        </dd>
        <dt>
            @Html.DisplayName("Código postal")
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.PubStrCodigoPostal)
        </dd>
        <dt>
            @Html.DisplayName("Teléfono")
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.PubStrTelefono)
        </dd>
        <dt>
            @Html.DisplayName("Dirección")
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.PubStrDireccion)
        </dd>
        <dt>
            @Html.DisplayName("Email")
        </dt>
        <dd>
            @Html.DisplayFor(modelo => modelo.PubStrEmail)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.PubIntIdPaciente">Editar</a> |
    <a asp-action="Delete" asp-route-id="@Model.PubIntIdPaciente">Eliminar</a> |
    <a asp-action="Index">Atrás</a>
</div>